.nippers-logo {
    margin-right: 20px;
}

.navbar {
    background-color: #dfd6cd;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.table-text {
  font-family: 'Courgette';
}

.barber-name {
  font-family: 'Courgette';
}

#nav-link-text {
  color: #fff;
  font-family: 'Courgette';
}

.header-text {
  font-family: 'Courgette';
  color: #f6dea0;
  text-align: center;
  margin: 2rem auto;
}

.header-box {
  background-color: #2f1e17;
}

#nav-link-text:hover {
  color: rgb(214, 193, 96);
}

#grad1 {
  background-image: linear-gradient(to right, white ,#dfd6cd);
}

#grad2 {
  background-image: linear-gradient(to left, white ,#dfd6cd);
}

.shop-front {
    width: 100%; 
    padding-bottom: 2rem;
}

hr.style-eight {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
 
  width: 80%;
}
hr.style-eight:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
  width: 10%;
}

.skill-row {
  width: 80%;
  text-align: left;
  margin: 100px auto 100px auto;
  line-height: 2;
}

.shop-prices {
    padding-top: 2rem;
    margin-bottom: 26px;
    text-align: center;
}

.price-tier {
    text-align: left;
}

.cards {
    margin-bottom: 2rem;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shop-card-header {
    text-align: center;
    font-family: 'Courgette';
}

.shop-hours-table {
    text-align: right;
    width: 100%;
}

.service-cost {
    text-align: right;
    
}

.shop-price-table {
    width: 100%;
}

#card-deck {
  margin: 3rem;
}

/* Testimonials */

#testimonials {
    text-align: center;
    background-color: #000104;
    color: #fff;
  }
  
  .testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
  }

  .resize {
    width: 70px;
    height:auto;
  }
  
  .carousel-item {
    padding: 7% 15%;
  }

  #cta {
    text-align: center;
    padding-top: 40px;
    background-color: #fff;
    color: black;
  }

  .visit {
    font-family: 'Courgette';
      margin-bottom: 2rem;
  }

  .google-map {
      margin-bottom: 50px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* Footer */

#footer {
    text-align: center;
    padding-top: 50px;
  }
  
  .footer-par {
    padding-top: 50px;
  }
  
  .social-icon {
    margin: 20px 10px;
    transition: transform .2s;
  }

  .social-icon:hover {
    transform: scale(1.25);
  }

  .instagram-link {
    padding-right: 1rem;
  }

  .facebook-link {
    padding-left: 1rem;
  }